version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: redis-broker

  mongo:
    image: mongo:4.4
    container_name: mongo-db
    volumes:
      - ./mongo_data:/data/db

  dashboard:
    build: .
    container_name: dashboard-ui
    command: streamlit run dashboard.py --server.port 8501 --server.address 0.0.0.0
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    depends_on:
      - redis
      - mongo

  master:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: sh -c "pip install -r requirements.txt && python -u master.py"
    depends_on:
      - redis

  worker:
      build: .
      volumes:
        - .:/app
        - ./wyniki:/data
      working_dir: /app
      command: sh -c "pip install -r requirements.txt && python -u worker.py"
      depends_on:
        - redis
      deploy:
        replicas: 3
        restart_policy:
          condition: on-failure
          delay: 5s
          max_attempts: 5
          window: 120s
